/* Container */
.md-container {
    opacity: 0;
}

/* Logo */
.md-header__button.md-logo {
    color: var(--md-typeset-a-color);
}

/* Table */
.md-typeset table:not([class]) th {
    background-color: rgba(0, 0, 0, .54);
    color: #ffffff;
}

.md-typeset table:not([class]) {
    max-height: 1000px;
}

/* Tag */
.md-nav__tag,
.md-title__tag {
    border-radius: 3px;
}

.md-nav__tag {
    font-size: 10px;
    padding: 2px 5px;
    text-transform: lowercase;
}

.md-title__tag {
    font-size: 15px;
    padding: 3px 7px;
}

.md-nav__tag__category,
.md-title__tag__category {
    background: #f0f0f0;
    color: #555555;
}

.md-nav__tag__topic,
.md-title__tag__topic {
    background: #6ce6ae;
    color: #333;
}

.md-nav__link .md-ellipsis,
.md-content h1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.md-nav__link .md-ellipsis {
    gap: 2px;
}

.md-content h1 {
    gap: 10px;
}
