.md-header__button.md-logo {
    color: var(--md-typeset-a-color);
}

.md-typeset table:not([class]) th {
    background-color: rgba(0, 0, 0, .54);
    color: #ffffff;
}

.md-typeset table:not([class]) {
    max-height: 1000px;
}
